@tailwind base;

@tailwind components;

@tailwind utilities;

/* Your custom CSS here */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

/* unvisited link */
header a:link, footer {
    color: white;
    padding-left: 10px;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-size: .8rem;
}

/* visited link */
header a:visited {
    color: #cccccc;
    text-decoration: none;
}

/* mouse over link */
header a:hover {
    color: #999999;
}

/* selected link */
header a:active {
    color: #cccccc;
    text-decoration: none;
}


h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.25rem;
    font-weight: 300;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}

p {
    font-family: 'Raleway', sans-serif;
}

footer {
    font-family: 'Roboto Slab', serif;
}

.portfolio-piece img {
    height: 150px;
    width: auto;
}

img:hover {
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

header img:hover {
    transform: scale(1);
}

.page-links a {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-size: .8rem;

}